click
colorama
Flask
itsdangerous
Jinja2
joblib
MarkupSafe
nltk
numpy
packaging
pandas
pdf2image
Pillow
pyparsing
pytesseract
python-dateutil
pytz
regex
scikit-learn
scipy
six
sklearn
threadpoolctl
tqdm
Werkzeug
